<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.at.sabre.alissa.numberplace"
    android:versionCode="2"
    android:versionName="0.61" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".editor.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".capture.CaptureActivity"
            android:label="@string/title_activity_capture">
        </activity>
        <activity
            android:name=".editor.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>
    
</manifest>